@keyframes first {
    0% {
        background-color: red;
    }
    50%,100% {
        background-color: black;
    }
}

@keyframes second {
    0% {
        background-color: yellow;
    }
    50%,100% {
        background-color: black;
    }
}

@keyframes third {
    0% {
        background-color: green;
    }
    50%,100% {
        background-color: black;
    }
}

#wrapper {
    position:relative;
    overflow: hidden;
    background-color: chocolate;
}

.content {
    width: 250px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    background-color: black;
    margin-top: 40px;
    padding: 50px 0;

    .content-item-1 {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        animation-name: first;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 0s;
        animation-fill-mode: both;
        animation-play-state: running;
    }

    .content-item-2 {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        animation-name: second;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 1.5s;
        animation-fill-mode: both;
        animation-play-state: running;
    }

    .content-item-3 {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        animation-name: third;
        animation-duration: 3s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-delay: 3s;
        animation-fill-mode: both;
        animation-play-state: running;
    }

}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 100px;
    background-color: black;
    margin: auto;
}

